@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.notfound {
  margin-top: 239px;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* src/components/AboutUs.css */
.about-us {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}
.payment-details {
  margin-top: 100px;

}
.about-us-header {
  text-align: center;
  margin-bottom: 20px;
}

.about-us-content {
  line-height: 1.6;
}

.about-us-content h2 {
  margin-top: 20px;
  color: #333;
}

.about-us-content p {
  margin: 10px 0;
  color: #666;
}
